# Database
DB_NAME=mumuk
DB_USERNAME=mumuk
DB_PASSWORD=

# Grafana
GRAFANA_ADMIN_PASSWORD=

# JWT
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_VALIDITY=3600000
JWT_REFRESH_TOKEN_VALIDITY=604800000

# Naver
NAVER_CLIENT_ID=
NAVER_SECRET_KEY=
NAVER_BLOG_CLIENT_ID=
NAVER_BLOG_SECRET_KEY=
NAVER_CLOVA_INVOKE_URL=
NAVER_CLOVA_SECRET_KEY=

# Gemini
GEMINI_API_KEY=

# SMS
SMS_API_KEY=
SMS_API_SECRET=
